
<h1>@ViewData["Title"]</h1>

<!-- Indicadores Clave -->
<div class="row" style="margin:auto;display:block;">
<h1>Bienvenido al entregable de Proyecto Integrador II</h1>
<h2>Equipo 2 - Sistema de Nomina</h2>
<h2 class="text-center">Bienvenido al Panel de Administración</h2>
<p class="text-center">Aquí puedes gestionar el sistema y los usuarios.</p>
</div>

<!-- Gráficos -->
<div class="row mt-4">
   
</div>


