@model ProyectoNominaINTBII.Models.Trabajador

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>
<h4>Trabajador</h4>

<hr />
<div class="form-group">
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
    <input type="submit" value="Save" form="editForm" class="btn btn-primary" />
</div>



<style>

    /* Estilos para los títulos */
    h1, h4 {
        font-family: 'Arial', sans-serif; /* Usa una tipografía limpia y moderna */
        color: #333; /* Color oscuro para buena legibilidad */
        text-align: center; /* Centra los títulos para un look más formal */
        margin-bottom: 20px; /* Espacio debajo del título para separar del contenido */
    }

    h1 {
        font-size: 45PX; /* Tamaño grande para el título principal */
        font-weight: bold; /* Negrita para destacar */
        padding-top: 20px; /* Espacio en la parte superior */
        border-bottom: 2px solid #007bff; /* Línea debajo para un toque elegante */
        margin-bottom: 30px; /* Más espacio debajo para separación clara del contenido */
    }

    h4 {
        font-size: 20px; /* Tamaño adecuado para subtítulos */
        color: #555; /* Un poco más claro que el h1 para diferenciación */
        font-weight: normal; /* Sin negrita para diferenciar del título principal */
    }

    /* Alineación vertical de los botones */
    .btn {
        display: inline-block; /* Permite que los botones se alineen horizontalmente */
        vertical-align: middle; /* Alinea los botones verticalmente al centro */
        margin: 5px; /* Espacio uniforme alrededor de cada botón */
    }

    /* Estilos adicionales para dar formato y coherencia */
    .btn-primary, .btn-secondary {
        padding: 10px 20px; /* Espaciado interno más amplio para mejor clicabilidad */
        font-size: 16px; /* Tamaño de fuente uniforme para ambos botones */
        border-radius: 5px; /* Bordes redondeados */
        text-shadow: 0 1px 1px rgba(0,0,0,0.2); /* Sombra en el texto para profundidad */
        box-shadow: 0 2px 5px rgba(0,0,0,0.3); /* Sombra alrededor del botón para efecto 3D */
        transition: all 0.3s ease; /* Transición suave para cambios de estado */
    }

    .btn-primary {
        color: #fff; /* Texto blanco para mayor contraste */
        background-color: #007bff; /* Fondo azul para el botón 'Save' */
        border-color: #007bff; /* Borde azul a juego */
    }

        .btn-primary:hover, .btn-primary:focus {
            background-color: #0056b3; /* Fondo más oscuro al interactuar */
            border-color: #004085; /* Borde más oscuro al interactuar */
        }

    .btn-secondary {
        color: #fff; /* Texto blanco para mayor contraste */
        background-color: #6c757d; /* Fondo gris para el botón 'Back to List' */
        border-color: #6c757d; /* Borde gris a juego */
    }

        .btn-secondary:hover, .btn-secondary:focus {
            background-color: #545b62; /* Fondo más oscuro al interactuar */
            border-color: #4e555b; /* Borde más oscuro al interactuar */
        }
</style>

<div class="container">
    <form asp-action="Edit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
        <div class="row">
            <div class="col-md-3">
                <!-- Columna 1 -->
                <div class="form-group">
                    <label for="EmpresaId">Empresa</label>
                    <select asp-for="EmpresaId" class="form-control" asp-items="ViewBag.EmpresaId"></select>
                    <span asp-validation-for="EmpresaId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Nombre" class="control-label"></label>
                    <input asp-for="Nombre" class="form-control" />
                    <span asp-validation-for="Nombre" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="ApellidoPaterno">Apellido Paterno</label>
                    <input asp-for="ApellidoPaterno" class="form-control" />
                    <span asp-validation-for="ApellidoPaterno" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="ApellidoMaterno">Apellido Materno</label>
                    <input asp-for="ApellidoMaterno" class="form-control" />
                    <span asp-validation-for="ApellidoMaterno" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="FechaNac">Fecha de Nacimiento</label>
                    <input asp-for="FechaNac" class="form-control" />
                    <span asp-validation-for="FechaNac" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="TipoContratoId" class="control-label"></label>
                    <select asp-for="TipoContratoId" class="form-control" asp-items="ViewBag.TipoContratoId"></select>
                </div>
                <div class="form-group">
                    <label asp-for="TipoJornadaId" class="control-label"></label>
                    <select asp-for="TipoJornadaId" class="form-control" asp-items="ViewBag.TipoJornadaId"></select>
                </div>
                <div class="form-group">
                    <label asp-for="TipoRegimenId" class="control-label"></label>
                    <select asp-for="TipoRegimenId" class="form-control" asp-items="ViewBag.TipoRegimenId"></select>
                </div>
                <div class="form-group">
                    <label asp-for="TipoEmpleadoId" class="control-label"></label>
                    <select asp-for="TipoEmpleadoId" class="form-control" asp-items="ViewBag.TipoEmpleadoId"></select>
                </div>
                <div class="form-group">
                    <label for="FechaIngreso">Fecha de Ingreso</label>
                    <input asp-for="FechaIngreso" class="form-control" />
                    <span asp-validation-for="FechaIngreso" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-3">
                <!-- Columna 2 -->
                <div class="form-group">
                    <label asp-for="PeriocidadPagoId" class="control-label"></label>
                    <select asp-for="PeriocidadPagoId" class="form-control" asp-items="ViewBag.PeriocidadPagoId"></select>
                </div>
                <div class="form-group">
                    <label asp-for="OrigenRecursoId" class="control-label"></label>
                    <select asp-for="OrigenRecursoId" class="form-control" asp-items="ViewBag.OrigenRecursoId"></select>
                </div>
                <div class="form-group">
                    <label asp-for="FormaPagoId" class="control-label"></label>
                    <select asp-for="FormaPagoId" class="form-control" asp-items="ViewBag.FormaPagoId"></select>
                </div>
                <div class="form-group">
                    <label asp-for="BancoId" class="control-label"></label>
                    <select asp-for="BancoId" class="form-control" asp-items="ViewBag.BancoId"></select>
                </div>
                <div class="form-group">
                    <label for="EstadoCivilId">Estado Civil</label>
                    <select asp-for="EstadoCivilId" class="form-control" asp-items="ViewBag.EstadoCivilId"></select>
                    <span asp-validation-for="EstadoCivilId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PuestoId" class="control-label"></label>
                    <select asp-for="PuestoId" class="form-control" asp-items="ViewBag.PuestoId"></select>
                </div>
                <div class="form-group">
                    <label for="SexoId">Genero</label>
                    <select asp-for="SexoId" class="form-control" asp-items="ViewBag.SexoId"></select>
                    <span asp-validation-for="SexoId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="Clabe">Clabe</label>
                    <input asp-for="Clabe" class="form-control" />
                    <span asp-validation-for="Clabe" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="NumEmpleado">Numero de Empleado</label>
                    <input asp-for="NumEmpleado" class="form-control" />
                    <span asp-validation-for="NumEmpleado" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="NumEmpleado" class="control-label"></label>
                    <input asp-for="NumEmpleado" class="form-control" />
                    <span asp-validation-for="NumEmpleado" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-3">
                <!-- Columna 3 -->
                <div class="form-group">
                    <label asp-for="EmpresaRegimenPatId" class="control-label"></label>
                    <select asp-for="EmpresaRegimenPatId" class="form-control" asp-items="ViewBag.EmpresaRegimenPatId"></select>
                </div>
                <div class="form-group">
                    <label asp-for="MotivoNoTimbrarId" class="control-label"></label>
                    <select asp-for="MotivoNoTimbrarId" class="form-control" asp-items="ViewBag.MotivoNoTimbrarId"></select>
                </div>
                <div class="form-group">
                    <label asp-for="DepartamentoId" class="control-label"></label>
                    <select asp-for="DepartamentoId" class="form-control" asp-items="ViewBag.DepartamentoId"></select>
                </div>
                <div class="form-group">
                    <label for="BaseCotizacionId">Base Cotizacion</label>
                    <select asp-for="BaseCotizacionId" class="form-control" asp-items="ViewBag.BaseCotizacionId"></select>
                </div>
                <div class="form-group">
                    <label for="Estatus">Estatus</label>
                    <input asp-for="Estatus" class="form-control" />
                    <span asp-validation-for="Estatus" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="Rfc">RFC</label>
                    <input asp-for="Rfc" class="form-control" />
                    <span asp-validation-for="Rfc" the text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="Curp">CURP</label>
                    <input asp-for="Curp" class="form-control" />
                    <span asp-validation-for="Curp" the text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="Nss">NSS</label>
                    <input asp-for="Nss" class="form-control" />
                    <span asp-validation-for="Nss" the text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Calle" class="control-label"></label>
                    <input asp-for="Calle" class="form-control" />
                    <span asp-validation-for="Calle" the text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="NumeroExt">Numero Exterior</label>
                    <input asp-for="NumeroExt" class="form-control" />
                    <span asp-validation-for="NumeroExt" the text-danger"></span>
                </div>
            </div>
            <div class="col-md-3">
                <!-- Columna 4 -->
                <div class="form-group">
                    <label for="NumeroInt">Numero Interior</label>
                    <input asp-for="NumeroInt" class="form-control" />
                    <span asp-validation-for="NumeroInt" the text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Colonia" class="control-label"></label>
                    <input asp-for="Colonia" class="form-control" />
                    <span asp-validation-for="Colonia" the text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="Cp">CP</label>
                    <input asp-for="Cp" class="form-control" />
                    <span asp-validation-for="Cp" the text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="MunicipioId">Municipio</label>
                    <select asp-for="MunicipioId" class="form-control" asp-items="ViewBag.MunicipioId"></select>
                    <span asp-validation-for="MunicipioId" the text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="EstadoID">Estado</label>
                    <select asp-for="EstadoId" class="form-control" asp-items="ViewBag.EstadoId"></select>
                    <span asp-validation-for="EstadoId" the text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="PaisId">Pais</label>
                    <select asp-for="PaisId" class="form-control" asp-items="ViewBag.PaisId"></select>
                    <span asp-validation-for="PaisId" the text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="TelefonoMovil">Telefono Movil</label>
                    <input asp-for="TelefonoMovil" class="form-control" />
                    <span asp-validation-for="TelefonoMovil" the text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="TelefonoFijo">Telefono Fijo</label>
                    <input asp-for="TelefonoFijo" class="form-control" />
                    <span asp-validation-for="TelefonoFijo" the text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" the text-danger"></span>
                </div>
            </div>
        </div>
    </form>
</div>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
