@model ProyectoNominaINTBII.Models.Trabajador

@{
    ViewData["Title"] = "Edit";



    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>
<h4>Trabajador</h4>
<hr />
<div class="container">
    <form asp-action="Edit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
        <div class="row">
            <div class="col-md-6">
                <!-- Columna Izquierda -->
                <div class="form-group">
                    <label for="EmpresaId">Empresa</label>
                    <select asp-for="EmpresaId" class="form-control" asp-items="ViewBag.EmpresaId"></select>
                    <span asp-validation-for="EmpresaId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Nombre" class="control-label"></label>
                    <input asp-for="Nombre" class="form-control" />
                    <span asp-validation-for="Nombre" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="ApellidoPaterno">Apellido Paterno</label>
                    <input asp-for="ApellidoPaterno" class="form-control" />
                    <span asp-validation-for="ApellidoPaterno" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="ApellidoMaterno">Apellido Materno</label>
                    <input asp-for="ApellidoMaterno" class="form-control" />
                    <span asp-validation-for="ApellidoMaterno" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="FechaNac">Fecha de Nacimiento</label>
                    <input asp-for="FechaNac" class="form-control" />
                    <span asp-validation-for="FechaNac" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="TipoContratoId" class="control-label"></label>
                    <select asp-for="TipoContratoId" class="form-control" asp-items="ViewBag.TipoContratoId"></select>
                </div>
                <div class="form-group">
                    <label asp-for="TipoJornadaId" class="control-label"></label>
                    <select asp-for="TipoJornadaId" class="form-control" asp-items="ViewBag.TipoJornadaId"></select>
                </div>
                <div class="form-group">
                    <label asp-for="TipoRegimenId" class="control-label"></label>
                    <select asp-for="TipoRegimenId" class="form-control" asp-items="ViewBag.TipoRegimenId"></select>
                </div>
                <div class="form-group">
                    <label asp-for="TipoEmpleadoId" class="control-label"></label>
                    <select asp-for="TipoEmpleadoId" class="form-control" asp-items="ViewBag.TipoEmpleadoId"></select>
                </div>
                <div class="form-group">
                    <label for="FechaIngreso">Fecha de Ingreso</label>
                    <input asp-for="FechaIngreso" class="form-control" />
                    <span asp-validation-for="FechaIngreso" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PeriocidadPagoId" class="control-label"></label>
                    <select asp-for="PeriocidadPagoId" class="form-control" asp-items="ViewBag.PeriocidadPagoId"></select>
                </div>
                <div class="form-group">
                    <label asp-for="OrigenRecursoId" class="control-label"></label>
                    <select asp-for="OrigenRecursoId" class="form-control" asp-items="ViewBag.OrigenRecursoId"></select>
                </div>
                <div class="form-group">
                    <label asp-for="FormaPagoId" class="control-label"></label>
                    <select asp-for="FormaPagoId" class="form-control" asp-items="ViewBag.FormaPagoId"></select>
                </div>
                <div class="form-group">
                    <label asp-for="BancoId" class="control-label"></label>
                    <select asp-for="BancoId" class="form-control" asp-items="ViewBag.BancoId"></select>
                </div>
                <div class="form-group">
                    <label for="EstadoCivilId">Estado Civil</label>
                    <select asp-for="EstadoCivilId" class="form-control" asp-items="ViewBag.EstadoCivilId"></select>
                    <span asp-validation-for="EstadoCivilId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PuestoId" class="control-label"></label>
                    <select asp-for="PuestoId" class="form-control" asp-items="ViewBag.PuestoId"></select>
                </div>
                <div class="form-group">
                    <label for="SexoId">Genero</label>
                    <select asp-for="SexoId" class="form-control" asp-items="ViewBag.SexoId"></select>
                    <span asp-validation-for="SexoId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="Clabe">Clabe</label>
                    <input asp-for="Clabe" class="form-control" />
                    <span asp-validation-for="Clabe" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="NumEmpleado">Numero de Empleado</label>
                    <input asp-for="NumEmpleado" class="form-control" />
                    <span asp-validation-for="NumEmpleado" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="NumEmpleado" class="control-label"></label>
                    <input asp-for="NumEmpleado" class="form-control" />
                    <span asp-validation-for="NumEmpleado" class="text-danger"></span>
                </div>
    
                <div class="form-group">
                    <label asp-for="EmpresaRegimenPatId" class="control-label"></label>
                    <select asp-for="EmpresaRegimenPatId" class="form-control" asp-items="ViewBag.EmpresaRegimenPatId"></select>
                </div>
                <div class="form-group">
                    <label asp-for="MotivoNoTimbrarId" class="control-label"></label>
                    <select asp-for="MotivoNoTimbrarId" class="form-control" asp-items="ViewBag.MotivoNoTimbrarId"></select>
                </div>
                <div class="form-group">
                    <label asp-for="DepartamentoId" class="control-label"></label>
                    <select asp-for="DepartamentoId" class="form-control" asp-items="ViewBag.DepartamentoId"></select>
                </div>
                <div class="form-group">
                    <label for="BaseCotizacionId">Base Cotizacion</label>
                    <select asp-for="BaseCotizacionId" class="form-control" asp-items="ViewBag.BaseCotizacionId"></select>
                </div>
                <div class="form-group">
                    <label for="Estatus">Estatus</label>
                    <input asp-for="Estatus" class="form-control" />
                    <span asp-validation-for="Estatus" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="Rfc">RFC</label>
                    <input asp-for="Rfc" class="form-control" />
                    <span asp-validation-for="Rfc" the text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="Curp">CURP</label>
                    <input asp-for="Curp" class="form-control" />
                    <span asp-validation-for="Curp" the text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="Nss">NSS</label>
                    <input asp-for="Nss" class="form-control" />
                    <span asp-validation-for="Nss" the text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <!-- Columna Derecha -->
                <div class="form-group">
                    <label asp-for="Calle" class="control-label"></label>
                    <input asp-for="Calle" class="form-control" />
                    <span asp-validation-for="Calle" the text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="NumeroExt">Numero Exterior</label>
                    <input asp-for="NumeroExt" class="form-control" />
                    <span asp-validation-for="NumeroExt" the text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="NumeroInt">Numero Interior</label>
                    <input asp-for="NumeroInt" class="form-control" />
                    <span asp-validation-for="NumeroInt" the text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Colonia" class="control-label"></label>
                    <input asp-for="Colonia" class="form-control" />
                    <span asp-validation-for="Colonia" the text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="Cp">CP</label>
                    <input asp-for="Cp" class="form-control" />
                    <span asp-validation-for="Cp" the text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="MunicipioId">Municipio</label>
                    <select asp-for="MunicipioId" class="form-control" asp-items="ViewBag.MunicipioId"></select>
                    <span asp-validation-for="MunicipioId" the text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="EstadoID">Estado</label>
                    <select asp-for="EstadoId" class="form-control" asp-items="ViewBag.EstadoId"></select>
                    <span asp-validation-for="EstadoId" the text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="PaisId">Pais</label>
                    <select asp-for="PaisId" class="form-control" asp-items="ViewBag.PaisId"></select>
                    <span asp-validation-for="PaisId" the text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="TelefonoMovil">Telefono Movil</label>
                    <input asp-for="TelefonoMovil" class="form-control" />
                    <span asp-validation-for="TelefonoMovil" the text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="TelefonoFijo">Telefono Fijo</label>
                    <input asp-for="TelefonoFijo" class="form-control" />
                    <span asp-validation-for="TelefonoFijo" the text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" the text-danger"></span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
    </form>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
