@model ProyectoNominaINTBII.Models.Empresa

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Empresa</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="FechaAlta" class="control-label"></label>
                <input asp-for="FechaAlta" class="form-control" />
                <span asp-validation-for="FechaAlta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rfc" class="control-label"></label>
                <input asp-for="Rfc" class="form-control" />
                <span asp-validation-for="Rfc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Calle" class="control-label"></label>
                <input asp-for="Calle" class="form-control" />
                <span asp-validation-for="Calle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumeroExt" class="control-label"></label>
                <input asp-for="NumeroExt" class="form-control" />
                <span asp-validation-for="NumeroExt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumeroInt" class="control-label"></label>
                <input asp-for="NumeroInt" class="form-control" />
                <span asp-validation-for="NumeroInt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Colonia" class="control-label"></label>
                <input asp-for="Colonia" class="form-control" />
                <span asp-validation-for="Colonia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cp" class="control-label"></label>
                <input asp-for="Cp" class="form-control" />
                <span asp-validation-for="Cp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Curp" class="control-label"></label>
                <input asp-for="Curp" class="form-control" />
                <span asp-validation-for="Curp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MunicipioId" class="control-label"></label>
                <select asp-for="MunicipioId" class="form-control" asp-items="ViewBag.MunicipioId"></select>
                <span asp-validation-for="MunicipioId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EstadoId" class="control-label"></label>
                <select asp-for="EstadoId" class="form-control" asp-items="ViewBag.EstadoId"></select>
                <span asp-validation-for="EstadoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PaisId" class="control-label"></label>
                <select asp-for="PaisId" class="form-control" asp-items="ViewBag.PaisId"></select>
                <span asp-validation-for="PaisId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipoComprobante" class="control-label"></label>
                <input asp-for="TipoComprobante" class="form-control" />
                <span asp-validation-for="TipoComprobante" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PathLogo" class="control-label"></label>
                <input asp-for="PathLogo" class="form-control" />
                <span asp-validation-for="PathLogo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PathCertificadoSat" class="control-label"></label>
                <input asp-for="PathCertificadoSat" class="form-control" />
                <span asp-validation-for="PathCertificadoSat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PathLlaveSat" class="control-label"></label>
                <input asp-for="PathLlaveSat" class="form-control" />
                <span asp-validation-for="PathLlaveSat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContraseñaSat" class="control-label"></label>
                <input asp-for="ContraseñaSat" class="form-control" />
                <span asp-validation-for="ContraseñaSat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProveedorSat" class="control-label"></label>
                <input asp-for="ProveedorSat" class="form-control" />
                <span asp-validation-for="ProveedorSat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PathTimbrado" class="control-label"></label>
                <input asp-for="PathTimbrado" class="form-control" />
                <span asp-validation-for="PathTimbrado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MonedaId" class="control-label"></label>
                <select asp-for="MonedaId" class="form-control" asp-items="ViewBag.MonedaId"></select>
                <span asp-validation-for="MonedaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RegimenFiscalId" class="control-label"></label>
                <select asp-for="RegimenFiscalId" class="form-control" asp-items="ViewBag.RegimenFiscalId"></select>
                <span asp-validation-for="RegimenFiscalId" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="CumpleReqCuotas" /> @Html.DisplayNameFor(model => model.CumpleReqCuotas)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="ClaveImss" class="control-label"></label>
                <input asp-for="ClaveImss" class="form-control" />
                <span asp-validation-for="ClaveImss" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClaveInfonavit" class="control-label"></label>
                <input asp-for="ClaveInfonavit" class="form-control" />
                <span asp-validation-for="ClaveInfonavit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClaveFonacot" class="control-label"></label>
                <input asp-for="ClaveFonacot" class="form-control" />
                <span asp-validation-for="ClaveFonacot" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LugarExpedicion" class="control-label"></label>
                <input asp-for="LugarExpedicion" class="form-control" />
                <span asp-validation-for="LugarExpedicion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipoEmpresaId" class="control-label"></label>
                <select asp-for="TipoEmpresaId" class="form-control" asp-items="ViewBag.TipoEmpresaId"></select>
                <span asp-validation-for="TipoEmpresaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipoHoraId" class="control-label"></label>
                <select asp-for="TipoHoraId" class="form-control" asp-items="ViewBag.TipoHoraId"></select>
                <span asp-validation-for="TipoHoraId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PorcentajePresFed" class="control-label"></label>
                <input asp-for="PorcentajePresFed" class="form-control" />
                <span asp-validation-for="PorcentajePresFed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TelefonoWhatsApp" class="control-label"></label>
                <input asp-for="TelefonoWhatsApp" class="form-control" />
                <span asp-validation-for="TelefonoWhatsApp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TelefonoFijo" class="control-label"></label>
                <input asp-for="TelefonoFijo" class="form-control" />
                <span asp-validation-for="TelefonoFijo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipoConstitucionId" class="control-label"></label>
                <select asp-for="TipoConstitucionId" class="form-control" asp-items="ViewBag.TipoConstitucionId"></select>
                <span asp-validation-for="TipoConstitucionId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Estatus" class="control-label"></label>
                <input asp-for="Estatus" class="form-control" />
                <span asp-validation-for="Estatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
